body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('disney.jpg'); /* Assurez-vous que le chemin est correct */
    background-size: cover; /* Couvre tout l'espace disponible */
    background-position: center; /* Centre l'image de fond */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    max-width: 800px;
}

.title {
    width: 100%;
    height: 50px;
    background-color: #0057b32f;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    color: rgba(193, 154, 107, 1); /* Couleur du texte en camel */
}


.columns {
    display: flex;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5px;
}

.word {
    background-color: rgba(28, 30, 64, 0.6); /* Gris avec transparence */
    margin: 10px;
    border-radius: 5px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    position: relative;
}

.word span {
    visibility: hidden; /* Cache le texte par défaut */
    color: rgba(201, 157, 103, 0.8);
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0057b32f; /* Gris avec transparence */
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.5s;
}

.input-form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.input-field {
    padding: 10px;
    margin-right: 10px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid ;
}

.submit-button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #0057b393;
    color: rgb(201, 157, 103);
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

#popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#popup-content {
    background-color: #0057b375;
    color :rgb(201, 157, 103);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.visit-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.visit-link:hover {
    background-color: #0056b3;
}

